<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fitness Logger</title>
    </head>
    <body>
        <h1>Fitness Logger</h1>
        <a href="https://runkeeper.com/apps/authorize?client_id=b101f00fa9f142a2a17d73bdd84499e6&response_type=code&redirect_uri=https://fitnesslogger.herokuapp.com/code">Login to runkeeper</a>
        <p>Access Token: <%= access_token %></p>
    </body>
</html>
